@type-area-width: 1200px;
@base-el-margin: 20px;
@input-mg-bt: 35px;


.w {
  max-width: @type-area-width;
  margin: 0 auto;
}

li {
  list-style: none;
}

.g-bottom-btn-box {
  text-align: center;
}